@media only screen and (max-width: 480px) and (orientation: portrait) {
    :root {
        font-size: 8.5px;
    }

    .Seccion_hero {
        height: 50vh;
        background-position: center;
    }

    .Seccion_hero div h1 {
        width: 100%;
    }

    .Hero_menu {
        display: none;
    }

    .welcome {
        font-size: 3.7rem;

    }
    

    /* --------------------------- */

    .menuh {
        position: fixed;
        right: 4rem;
        display: flex;
        height: 3rem;
        width: 3rem;
        background-image: url(../Img/menuh.png);
        background-position: center;
        background-size: cover;
        z-index: 200;
    }

    .menucel {
        display: flex;
    }

    .menucel a {
        font-size: 3rem;
    }

    .act {
        background-image: url(../Img/close.png);
        background-size: cover;
        background-position: center;
        width: 3rem;
        height: 3rem;
    }
    
    .act_2 {
        z-index: 99;
        left: 0;
        transition-property: left;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }

    /* --------------------- */

    .Seccion_2 {
        flex-direction: column;
    }

    .Seccion_2-1 {
        width: 90%;
        margin-bottom: 2rem;
    }

    .Seccion_2-2 {
        width: 90%;
        align-self: flex-end;
    }
    /* ----------------------------- */

    .Seccion_3-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Seccion_3b {
        flex-direction: column;
    }

    .Seccion_3b-1 {
        width: 100%;
        margin-bottom: 2rem;
    }

    .Seccion_3b-2 {
        width: 100%;
        height: 10vh;
    }

    /* ------------------------ */

    .card_1, .card_3 {
        grid-template-columns: 35% 65%;
        grid-template-rows: 20vh;
    }

    .card_2 {
        grid-template-columns: 65% 35%;
        grid-template-rows: 20vh;
    }

    .card_1-img, .card_2-img, .card_3-img {
        background-size: cover;
    }

    .Seccion_4 a {
        width: 100%;
    }

    .card_1-txt p, .card_2-txt p, .card_3-txt p{
        font-size: 0.85rem;
    }

    .card_1-txt h3, .card_2-txt h3, .card_3-txt h3 {
        font-size: 1.3rem;
    }

    /* --------------------------- */

    .contact {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "red"
        "tel"
        "loc";
    }

    .contact div {
        height: 100%;
    }

    .data {
        height: 5rem;
    }
    
    .data a {
        height: 5rem;
    }

    .loc div {
        display: flex;
        align-items: center;
        height: 100%;
    }

    /* ---------------Quienes somos------------------ */
    .Seccion_1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "txt"
        "img";
    }

    .Seccion_3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "txt"
        "img";
    }

    .Seccion_3-1 {
        grid-area: img;
    }

    .Seccion_3-2 {
        grid-area: txt;
    }



    .Seccion_4a {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "txt"
        "img";
    }

    .Seccion_4a-1 {
        grid-area: auto;
    }

    .Seccion_4a-2 {
        grid-area: auto;
    }

    .video1 {
        height: 25vh;
    }

}
