@media only screen and (max-width: 480px) and (orientation: portrait) {
    :root {
        font-size: 7px;
    }

    .Seccion_hero {
        height: 50vh;
        background-position: center;
    }

    .Seccion_hero div h1 {
        width: 100%;
    }

    .Hero_nav ul {
        display: none;
    }

    .Hero_menu {
        display: none;
    }

    /* --------------------------- */

    .menuh {
        position: fixed;
        right: 4rem;
        display: flex;
        height: 3rem;
        width: 3rem;
        background-image: url(../../Img/menuh.png);
        background-position: center;
        background-size: cover;
        z-index: 200;
    }

    .menucel {
        display: flex;
    }

    .act {
        background-image: url(../../Img/close.png);
        background-size: cover;
        background-position: center;
        width: 3rem;
        height: 3rem;
    }
    
    .act_2 {
        z-index: 99;
        left: 0;
        transition-property: left;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }

    .act_3 {
        z-index: 0;
        transition-property: z-index;
        transition-delay: 0.5s;
        transition-timing-function: linear;
    }

    /* --------------------- */
    main, .Seccion_g, .Seccion_5 {
        padding: 0 2rem;
    }
    /* ----------------------------- */

    /* ------------------------ */

    /* --------------------------- */

    .contact {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "red tel"
        "loc loc";
    }

    .contact div {
        height: 100%;
    }

    .data {
        height: 5rem;
    }
    
    .data a {
        height: 5rem;
    }

    .loc div {
        display: flex;
        align-items: center;
        height: 100%;
    }
}
