@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --tipografia_2: 'Montserrat', sans-serif;
    --tipografia_1: 'Roboto', sans-serif;
    --color_1: #4CAF50;
    --W100: 100vw;
    --H100: 100vh;
}
/* Seccion Hero */
.Seccion_hero {
    background-image: url(../../Img/M5.png);
    background-size: cover;
    background-position: center;
    width: var(--W100);
    height: var(--H100);
    padding: 0 4rem;
    position: relative;
}

.Hero_nav {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Hero_nav a {
    height: 80%;
}

.Hero_nav a img {
    height: 80%;
}

.Hero_menu {
    height: 100%;
    display: flex;
    align-items: center;
}

.Hero_menu a {
    height: fit-content;
    text-decoration: none;
    color: white;
    font-family: var(--tipografia_2);
    font-size: 1.25rem;
    margin-left: 2.5rem;
    display: flex;
}

.Hero_menu a:hover {
    border-bottom: 2px solid white;
}

.titulo {
    height: 85%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.titulo h1 {
    font-family: var(--tipografia_2);
    width: 70%;
    font-weight: 400;
    font-size: 7rem;
    color: white;
}
/* ---------------------------------GALERIA-------------------- */

.Seccion_g {
    padding: 0 4rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat (2, 1fr );
    grid-auto-rows: 1fr;
    grid-template-areas: 
    "1 2"
    "3 4"
    "5 6"
    "7 8"
    "9 10"
    "11 12"
    "13 14"
    "15 16";
    grid-gap: 1rem;
}

.Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--W100);
    margin-top: 3rem;
}

h2 {
    font-family: var(--tipografia_2);
    border-bottom: 2px solid var(--color_1);
    margin-bottom: 2rem;
    font-size: 2rem;
    width: fit-content;
}

.Seccion_g img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.Seccion_g div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Seccion_g div:nth-child(4) {
    grid-area: 2;
}

/* ------------------------MENU---------------------- */
.menuh {
    top: 2rem;
    position: fixed;
    display: none;
    z-index: 5;
    display: none;
}

.menucel {
    display: none;
    position: fixed;
    padding: 2rem;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--color_1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    z-index: 5;
}

.menucel a {
    z-index: 20;
    text-decoration: none;
    color: white;
    width: fit-content;
    font-family: var(--tipografia_2);
    letter-spacing: 0.25rem;
    font-size: 5rem;
    margin-bottom: 5%;
    z-index: 5;
}

/* --------------------CONTACTO----------------------------- */

.Seccion_5 {
    padding: 0 4rem;
    width: 100vw;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Seccion_5 h2 {
    font-family: var(--tipografia_2);
    width: fit-content;
    border-bottom: 2px solid var(--color_1);
    margin-bottom: 2rem;
    font-size: 2rem;
}

.contact {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "red tel loc";
    background-color: var(--color_1);
    padding: 1.5rem;
}

.red, .tel, .loc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact div h3 {
    font-family: var(--tipografia_2);
    color: white;
    width: fit-content;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.data {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data a {
    overflow-y: hidden;
    text-decoration: none;
    font-family: var(--tipografia_2);
    font-size: 1.5rem;
    width: fit-content;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    margin-bottom: 2rem;
}

.data img {
    height: 2rem;
    margin-right: 1rem;
}

.loc {
    height: 100%;
}

.loc div {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loc a {
    height: fit-content;
    text-align: center;
    text-decoration: none;
    font-family: var(--tipografia_2);
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    width: 100%;
}
